<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(current_user, url: password_change_confirm_path, method: :patch) do |f| %>
          <h2 class="center-text"><%= t('.password_change') %></h2>
          <div class="form-group">
            <%= f.label :current_password, t('.current_password') %><br />
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, t('.new_password') %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            <% if @minimum_password_length %>
              <br />
              <em><%= "#{@minimum_password_length} #{t('.chars_count_min')}" %></em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, t('.new_password_confirmation') %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit t('submit_btn_text'), class: 'btn btn-default btn-lg center-element' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
