
<% if !user_signed_in? %>
	<p class="center-text">
		<%= t('.no_one_to_play1') %>
		<b><%= link_to t('.no_one_to_play_link_text'), new_user_session_path, class: 'underlined' %></b>
		<%= t('.no_one_to_play2') %>
	</p>
<% elsif policy(Availability).create? %>
	<p class="center-text">
		<%= t('.no_one_to_play1') %>
		<b><%= link_to t('.no_one_to_play_link_text'), new_availability_path, remote: true, class: 'underlined' %></b>
		<%= t('.no_one_to_play2') %>
	</p>
<% else %>
	<p class="center-text"><%= t('user_blocked_info') %></p>
<% end %>
