<% if @availability.present? %>
	<div class="modal fade" tabindex="-1" role="dialog" id="availability-modal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    	<%= form_for @availability do |f| %>
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Wanna Play</h4>
		      </div>
		      <div class="modal-body">
						<div class="form-group">
							<%= f.label :date, t('activerecord.attributes.availability.date') %>
							<%= f.date_field :date, class: 'form-control' %>
					  </div>
					  <div class="form-group">
					  	<%= f.label :period, t('activerecord.attributes.availability.period') %>
					  	<%= f.select :period, 
					  		options_for_select(Availability.periods.map { |key, value| [t("activerecord.attributes.availability.periods.#{key}"), key] }, 
					  		@availability.period), {}, class: 'form-control' 
					  	%>
					  </div>
					  <div class="form-group">
							<%= f.label :note, t('activerecord.attributes.availability.note') %>
							<%= f.text_field :note, maxlength: Rails.configuration.max_availability_note_length, class: 'form-control' %>
					  	<p class="help-block" id="chars-left">50</p>
					  </div>
					  <div class="checkbox">
	            <%= f.label :autocancel do %>
	              <%= f.check_box :autocancel %>
	              <%= t('.autocancel_text') %>
	            <% end %>
	          </div>
		      </div>
		      <div class="modal-footer">
		        <button type="submit" class="btn btn-default">Submit</button>
		      </div>
		     <% end %>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
<% end %>

<%= render 'availabilities/modal_scripts' %>
